<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/mvc https://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <aop:component-scan base-package="net.qipo"/>

<!--    视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--
        path： 指定那个请求
        view-name: 指定那个视图
        其他请求就不好使了？
     -->
    <mvc:view-controller path="/helloworld" view-name="success"/>

    <!-- 开启mvc的注解驱动模式， -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 自定义视图解析器,数字越小优先级越高 -->
    <bean class="net.qipo.view.MyResolverView">
        <property name="order" value="1"/>
    </bean>
</beans>